Repository giaosudau/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-critical, pytest-unit

.pre-commit-config.yaml:

repos:
# Fast formatting and linting - these can run in parallel
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
    -   id: ruff
        name: ruff-lint
        args: ['--fix', '--exit-non-zero-on-fix']
    -   id: ruff-format
        name: ruff-format

-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        language_version: python3

-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        args: ['--profile', 'black']

# Local hooks for project-specific tasks
-   repo: local
    hooks:
    # Quick syntax/import check only
    -   id: flake8-critical
        name: flake8 (critical errors only)
        entry: flake8
        language: python
        types: [python]
        args: [
            '--select=E9,F63,F7,F82',  # Only critical errors
            '--max-complexity=10',
        ]
        
    # Fast unit tests only (exclude slow integration tests)
    -   id: pytest-unit
        name: pytest (unit tests only)
        entry: pytest
        language: python
        files: '^(tests/unit/.*\.py|sqlflow/.*\.py)$'
        types: [python]
        args: [
            'tests/unit/',
            '-q', 
            '--disable-warnings',
            '--maxfail=5',           # Stop after 5 failures
            '-x',                    # Stop on first failure
            '--tb=short',            # Shorter tracebacks
        ]
        pass_filenames: false

    # Optional: Run only when examples are changed
    -   id: examples-demo-scripts
        name: Run example demo scripts
        entry: ./run_all_examples.sh
        language: system
        pass_filenames: false
        files: '^examples/.*\.(sf|py|csv|yml|yaml|sh)$'
        stages: [manual]  # Only run manually with --hook-stage manual

test: add delay in validation cache integration test to ensure filesystem modification time differs in CI environments
  tests/integration/cli/test_validation_cache_integration.py
Due: flake8-critical

Fix conflict
  .github/workflows/ci.yml
  .github/workflows/command-dispatch.yml
  docs/CI_TRIGGER_GUIDE.md
Due: none

Update workflow file to force GitHub refresh
  .github/workflows/comment-triggered-tests.yml
Due: none

Fix file globbing in Enhanced S3 Connector verification for CI compatibility
  examples/phase2_integration_demo/scripts/run_integration_demo.sh
Due: none

feat(shopify): Complete Phase 1 Day 2 - Enhanced API Client & Data Mapping
  sqlflow/connectors/shopify_connector.py
  tests/unit/connectors/test_shopify_connector.py
Due: flake8-critical, pytest-unit

feat: Shopify connector Phase 1 Day 2 - Enhanced API Client & Data Mapping
  sqlflow/connectors/shopify_connector.py
  sqlflow_connector_implementation_tasks.md
  tests/unit/connectors/test_shopify_connector.py
Due: flake8-critical, pytest-unit

feat: implement Task 1.1.1 - AST Extensions for Transform Modes
  docs/developer/technical/implementation/transform_layer_comprehensive_design.md
  docs/developer/technical/implementation/transform_layer_implementation_plan.md
  docs/developer/technical/implementation/transform_layer_load_modes.md
  sqlflow/parser/ast.py
  tests/unit/parser/test_transform_ast.py
Due: flake8-critical, pytest-unit

feat: implement Task 3.2.1 - Real-time Monitoring and Metrics Collection
  docs/developer/technical/implementation/transform_layer_phase3_task_tracker.md
  sqlflow/core/engines/duckdb/transform/incremental_strategies.py
  sqlflow/core/engines/duckdb/transform/monitoring.py
  tests/integration/core/test_monitoring_integration.py
  tests/unit/core/engines/duckdb/transform/test_monitoring.py
Due: flake8-critical, pytest-unit

fix: resolve DuckDB thread safety segfault in concurrent monitoring test
  tests/integration/core/test_monitoring_integration.py
Due: flake8-critical

Update docs/user/guides/transform_layer_user_guide.md
  docs/user/guides/transform_layer_user_guide.md
Due: none

fix: Resolve conditional pipelines validation and improve user experience
  PIPELINE_FAILURE_HANDLING_FIX.md
  sqlflow/cli/pipeline.py
  sqlflow/cli/validation_helpers.py
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/executors/local_executor.py
  tests/integration/cli/test_validation_integration.py
  tests/unit/core/executors/test_local_executor_connector_engine_initialization.py
  tests/unit/core/executors/test_pipeline_failure_handling.py
Due: flake8-critical, pytest-unit

Add fast_debugger.py for fast local debugging
  .gitignore
  fast_debugger.py
Due: flake8-critical

Add more accurate description for fast_debugger.py script
  fast_debugger.py
Due: flake8-critical

Init the SQLFlow MVP Release Plan doc
  docs/release_management/MVP_RELEASE_PLAN.md
Due: none

Improve the fast_debugger's final output
  fast_debugger.py
Due: flake8-critical

ignore .local & .playground
  .gitignore
Due: none

Init MVP Release Plan doc
  docs/release_management/MVP_RELEASE_PLAN.md
Due: none

Init MVP Release Plan Doc
  .gitignore
  docs/release_management/MVP_RELEASE_PLAN.md
Due: none

Remove outdated documents
  CONTRIBUTING.md
  docs/developer-guides/SOURCE_CODE_VERIFICATION_REPORT.md
Due: none

📚 Complete Phase 3: Reference documentation - Added comprehensive connectors, UDFs, and profiles reference with 80/20 focus on essential patterns verified against source code
  docs/reference/connectors.md
  docs/reference/profiles.md
  docs/reference/udfs.md
Due: none

✅ Update plan: Phase 3 completed - All reference documentation with verified examples and 80/20 focus applied
  docs/DOCUMENTATION_REORGANIZATION_PLAN.md
Due: none

Update broken links and remove plan for this PR
  README.md
  docs/DEVELOPER_ADVOCATE_REVIEW.md
  docs/DOCUMENTATION_PLAN.md
  docs/DOCUMENTATION_REORGANIZATION_PLAN.md
  docs/README.md
Due: none

Fix cli-command documents to get correct command
  docs/reference/cli-commands.md
Due: none
