Repository giaosudau/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration, examples-demo-scripts

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --expand-star-imports
  - --ignore-init-module-imports

black:
  name: black
  entry: black
  language: python

isort:
  name: isort
  entry: isort
  language: python
  args:
  - --profile
  - black

flake8:
  name: flake8
  entry: flake8
  language: python
  args:
  - --ignore=E501,E221,E222,E223,E224,E303,E301,E302,E402,F401,F841,E741,W291,W293,D100,D101,W503,W504,E203
  - --max-complexity=10

pytest-unit:
  name: pytest (unit tests)
  entry: pytest
  language: python
  args:
  - tests/unit/
  - --cov=sqlflow
  - --cov-branch
  - --cov-report=xml
  - --maxfail=3
  - -q
  - --disable-warnings
  pass_filenames: false

pytest-local-integration:
  name: pytest (local integration tests)
  entry: pytest
  language: python
  args:
  - tests/integration/
  - -k
  - not external_services
  - --maxfail=3
  - -q
  - --disable-warnings
  pass_filenames: false

examples-demo-scripts:
  name: Run example demo scripts
  entry: ./run_all_examples.sh
  language: system
  pass_filenames: false
  verbose: true

COMPLETE Task 2.2: Fixed performance test, removed 8 redundant unit tests, enhanced quote context detection, fixed SQL expression handling - All tests passing
  VARIABLE_SUBSTITUTION_REFACTOR_PLAN.md
  VARIABLE_SUBSTITUTION_REFACTOR_TECHNICAL_DESIGN.md
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/evaluator.py
  sqlflow/core/sql_generator.py
  sqlflow/core/variables/parser.py
  tests/integration/test_end_to_end_variable_system.py
  tests/integration/test_variable_parsing_consistency.py
  tests/unit/core/engines/test_duckdb_engine.py
  tests/unit/core/test_sql_generator.py
  tests/unit/core/variables/test_variable_manager.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Phase 1 Task 1.1: Create Unified Parser - Single source of truth for variable parsing
  ARCHITECTURAL_CLEANUP_PLAN.md
  sqlflow/core/variables/unified_parser.py
  tests/unit/core/variables/test_unified_parser.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

docs: finalize Phase 3 implementation - add cross-references between documentation files
  docs/developer-guides/variable-substitution-guide.md
Due: none

docs: implement Phase 3 of variable substitution refactor - Architecture documentation and migration guide with zero breaking changes
  docs/developer-guides/variable-substitution-architecture.md
  docs/migration/variable-parsing-migration.md
Due: none

feat: implement Task 2.1 - CLI refactoring with working command structure and resolved technical issues
  sqlflow/cli/commands/env.py
  sqlflow/cli/commands/udf.py
  sqlflow/cli/display.py
  sqlflow/cli/errors.py
  sqlflow/cli/main.py
  sqlflow/cli/pipeline_operations.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

feat: implement Task 2.2 - Simple Factory Functions with Type Safety
  sqlflow/cli/business_operations.py
  sqlflow/cli/display.py
  sqlflow/cli/factories.py
  sqlflow/cli/main.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

feat: Complete Task 2.3 - CLI command integration with complexity fixes
  STRATEGIC_FIX_PLAN.md
  examples/conditional_pipelines/profiles/dev.yml
  examples/conditional_pipelines/profiles/production.yml
  examples/load_modes/profiles/dev.yml
  examples/load_modes/profiles/production.yml
  examples/phase2_integration_demo/scripts/pipeline_runner.py
  examples/phase2_integration_demo/scripts/service_manager.py
  examples/transform_layer_demo/pipelines/01_intelligent_strategy_selection.sf
  examples/transform_layer_demo/pipelines/02_watermark_performance.sf
  examples/transform_layer_demo/pipelines/03_monitoring_observability.sf
  examples/transform_layer_demo/run_demo.sh
  sqlflow/cli/business_operations.py
  sqlflow/cli/commands/connect.py
  sqlflow/cli/commands/env.py
  sqlflow/cli/commands/pipeline.py
  sqlflow/cli/commands/profiles.py
  sqlflow/cli/commands/udf.py
  sqlflow/cli/display.py
  sqlflow/cli/errors.py
  sqlflow/cli/factories.py
  sqlflow/cli/main.py
  sqlflow/cli/pipeline_operations.py
  sqlflow/parser/lexer.py
  tests/integration/cli/test_validation_integration.py
  tests/unit/cli/test_profiles_command.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration, examples-demo-scripts

feat: T6-T7 - Clean up advanced pipeline code
  sqlflow/cli/advanced_display.py
  sqlflow/cli/advanced_integration.py
  tests/unit/cli/test_advanced_display.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

feat: T8 - Update imports and formatting after cleanup
  sqlflow/cli/advanced_display.py
  sqlflow/cli/advanced_integration.py
  tests/unit/cli/test_advanced_display.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Phase 1: Foundation & Observability - Detailed Implementation Plan
  docs/V2_EXECUTOR_DESIGN.md
  docs/V2_EXECUTOR_IMPLEMENTATION_PLAN.md
  examples/v2_executor_demo.py
  pyproject.toml
  sqlflow/core/executors/v2/__init__.py
  sqlflow/core/executors/v2/context.py
  sqlflow/core/executors/v2/observability.py
  sqlflow/core/executors/v2/results.py
  sqlflow/core/executors/v2/steps.py
  tests/integration/core/executors/v2/test_integration.py
  tests/unit/core/executors/v2/__init__.py
  tests/unit/core/executors/v2/test_steps.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration, examples-demo-scripts

Phase 2: Step Handler Foundation
  sqlflow/core/executors/local_executor.py
  sqlflow/core/executors/v2/handlers/__init__.py
  sqlflow/core/executors/v2/handlers/base.py
  sqlflow/core/executors/v2/handlers/factory.py
  sqlflow/core/executors/v2/handlers/load_handler.py
  sqlflow/core/executors/v2/observability.py
  tests/integration/core/executors/v2/test_load_step_handler_integration.py
  tests/unit/core/executors/v2/test_executor_v2_compatibility.py
  tests/unit/core/executors/v2/test_handler_factory.py
  tests/unit/core/executors/v2/test_load_step_handler.py
  tests/unit/core/executors/v2/test_observability_decorator.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Phase 3: Core Handler Implementation
  sqlflow/core/executors/v2/__init__.py
  sqlflow/core/executors/v2/database_session.py
  sqlflow/core/executors/v2/execution_context.py
  sqlflow/core/executors/v2/execution_request.py
  sqlflow/core/executors/v2/handlers/__init__.py
  sqlflow/core/executors/v2/handlers/base.py
  sqlflow/core/executors/v2/handlers/export_handler.py
  sqlflow/core/executors/v2/handlers/factory.py
  sqlflow/core/executors/v2/handlers/load_handler.py
  sqlflow/core/executors/v2/handlers/source_handler.py
  sqlflow/core/executors/v2/handlers/transform_handler.py
  sqlflow/core/executors/v2/handlers_registration.py
  sqlflow/core/executors/v2/orchestration_strategy.py
  sqlflow/core/executors/v2/orchestrator.py
  sqlflow/core/executors/v2/result_builder.py
  sqlflow/core/executors/v2/results.py
  sqlflow/core/executors/v2/steps.py
  tests/integration/core/executors/test_v2_load_capabilities.py
  tests/integration/core/executors/v2/test_executor_performance_comparison.py
  tests/integration/core/executors/v2/test_transform_step_handler_integration.py
  tests/integration/core/executors/v2/test_v1_v2_compatibility_bridge.py
  tests/unit/core/executors/v2/test_export_step_handler.py
  tests/unit/core/executors/v2/test_load_step_handler.py
  tests/unit/core/executors/v2/test_observability_decorator.py
  tests/unit/core/executors/v2/test_orchestrator.py
  tests/unit/core/executors/v2/test_organization_guide.md
  tests/unit/core/executors/v2/test_transform_step_handler.py
  tests/unit/core/executors/v2/test_utilities.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Phase 4: Advanced Orchestration
  sqlflow/core/executors/v2/dependency_resolver.py
  sqlflow/core/executors/v2/orchestration_strategy.py
  sqlflow/core/executors/v2/orchestrator.py
  sqlflow/core/executors/v2/parallel_strategy.py
  sqlflow/core/executors/v2/state_manager.py
  tests/unit/core/executors/v2/test_dependency_resolver.py
  tests/unit/core/executors/v2/test_parallel_strategy.py
  tests/unit/core/executors/v2/test_state_manager.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Phase 5: Production Integration
  sqlflow/cli/factories.py
  sqlflow/core/executors/__init__.py
  sqlflow/core/executors/thread_pool_executor.py
  sqlflow/core/executors/v2/compatibility_bridge.py
  sqlflow/core/executors/v2/feature_flags.py
  sqlflow/core/executors/v2/performance_monitor.py
  tests/integration/core/executors/v2/test_production_workflow.py
  tests/integration/engine/test_thread_pool_executor_integration.py
  tests/unit/core/executors/v2/test_compatibility_bridge.py
  tests/unit/core/executors/v2/test_feature_flag_manager.py
  tests/unit/core/executors/v2/test_feature_flags.py
  tests/unit/core/executors/v2/test_performance_monitoring.py
  tests/unit/core/test_thread_pool_executor.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

fix pip install from developement branch cmd
  docs/getting-started/installation.md
Due: none

remove MVN_RELEASE_PALN.MD - it can be replanced with roadmap/current-features.md file
  docs/release_management/MVP_RELEASE_PLAN.md
Due: none

Add some code example to make the tech doc more readable
  docs/developer-guides/technical-overview.md
Due: none

feat: implement SQLFlow Variables V2 Phase 1 core functionality
  docs/developer-guides/variables-v2-technical-design.md
  sqlflow/core/variables/v2/__init__.py
  sqlflow/core/variables/v2/formatting.py
  sqlflow/core/variables/v2/resolution.py
  sqlflow/core/variables/v2/substitution.py
  sqlflow/core/variables/v2/types.py
  sqlflow/core/variables/v2/validation.py
  tests/unit/core/variables/test_v2_implementation.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

docs: update Variables V2 technical design for V2-only approach
  docs/developer-guides/variables-v2-technical-design.md
Due: none

feat: Complete SQLFlow Variables V2 Migration - Phase 2 Implementation
  sqlflow/__init__.py
  sqlflow/cli/pipeline.py
  sqlflow/cli/pipeline_operations.py
  sqlflow/cli/validation_helpers.py
  sqlflow/cli/variable_handler.py
  sqlflow/core/config_resolver.py
  sqlflow/core/evaluator.py
  sqlflow/core/executors/local_executor.py
  sqlflow/core/planner_main.py
  sqlflow/core/profiles.py
  sqlflow/core/variables/__init__.py
  sqlflow/core/variables/error_handling.py
  sqlflow/core/variables/formatters.py
  sqlflow/core/variables/manager.py
  sqlflow/core/variables/parser.py
  sqlflow/core/variables/substitution_engine.py
  sqlflow/core/variables/unified_parser.py
  sqlflow/core/variables/v2/__init__.py
  sqlflow/core/variables/validator.py
  tests/conftest.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

yguo2/issue 48 arch doc review (#54)
  docs/developer-guides/technical-overview.md
  docs/getting-started/installation.md
  docs/release_management/MVP_RELEASE_PLAN.md
Due: none

refactor: Remove legacy variable substitution examples and tests
  examples/variable_substitution/basic_substitution.py
  examples/variable_substitution/priority_resolution.py
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/evaluator.py
  sqlflow/core/executors/local_executor.py
  sqlflow/core/sql_generator.py
  sqlflow/core/variables/__init__.py
  sqlflow/core/variables/v2/__init__.py
  sqlflow/core/variables/v2/substitution.py
  sqlflow/parser/lexer.py
  tests/integration/pipeline/test_complete_pipeline_flow.py
  tests/integration/test_end_to_end_variable_system.py
  tests/integration/test_variable_parsing_consistency.py
  tests/unit/cli/test_pipeline_validation.py
  tests/unit/cli/test_validation_environment_variables.py
  tests/unit/core/test_config_resolver.py
  tests/unit/core/variables/test_error_handling.py
  tests/unit/core/variables/test_formatters.py
  tests/unit/core/variables/test_standard_parser.py
  tests/unit/core/variables/test_substitution_engine.py
  tests/unit/core/variables/test_unified_parser.py
  tests/unit/core/variables/test_unified_variable_system_integration.py
  tests/unit/core/variables/test_v2_implementation.py
  tests/unit/core/variables/test_variable_manager.py
  tests/unit/core/variables/test_variable_validation_integration.py
  tests/unit/core/variables/test_variable_validator.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration, examples-demo-scripts

refactor: Enhance SQLFlow Variables V2 Implementation with Backward Compatibility
  sqlflow/core/variables/__init__.py
  sqlflow/core/variables/v2/__init__.py
  sqlflow/core/variables/v2/formatting.py
  sqlflow/core/variables/v2/resolution.py
  sqlflow/core/variables/v2/substitution.py
  sqlflow/core/variables/v2/types.py
  sqlflow/core/variables/v2/validation.py
  tests/unit/core/variables/test_v2_implementation.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

refactor: Optimize Variable Substitution in V2 with Compiled Regex Patterns
  sqlflow/core/executors/v2/variables/substitution.py
  tests/integration/udf/test_udf_core_functionality.py
Due: autoflake, black, isort, flake8, pytest-unit, pytest-local-integration

Path conditions:
  autoflake: any of: ^(.*\.py|tests/.*|setup\.py|setup\.cfg|pyproject\.toml|requirements.*\.txt)$ and \.py$
  black: any of: ^(.*\.py|tests/.*|setup\.py|setup\.cfg|pyproject\.toml|requirements.*\.txt)$ and \.py$
  isort: any of: ^(.*\.py|tests/.*|setup\.py|setup\.cfg|pyproject\.toml|requirements.*\.txt)$ and \.py$
  flake8: any of: \.py$, but not: ^examples/.*
  pytest-unit: any of: ^(.*\.py|tests/.*|setup\.py|setup\.cfg|pyproject\.toml|requirements.*\.txt)$ and \.py$
  pytest-local-integration: any of: ^(.*\.py|tests/.*|setup\.py|setup\.cfg|pyproject\.toml|requirements.*\.txt)$ and \.py$
  examples-demo-scripts: any of: ^examples/.*\.(sf|py|csv|yml|yaml|sh)$
