Repository giaosudau/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-critical, pytest-unit

flake8-critical:
  name: flake8 (critical errors only)
  entry: flake8
  language: python
  args:
  - --select=E9,F63,F7,F82
  - --max-complexity=10

pytest-unit:
  name: pytest (unit tests only)
  entry: pytest
  language: python
  args:
  - tests/unit/
  - -q
  - --disable-warnings
  - --maxfail=5
  - -x
  - --tb=short
  pass_filenames: false

feat: implement phase 0 of connector refactor
  sqlflow/connectors/new_base/__init__.py
  sqlflow/connectors/new_base/destination_connector.py
  sqlflow/connectors/new_base/source_connector.py
  sqlflow/connectors/new_registry/__init__.py
  sqlflow/connectors/new_registry/destination_registry.py
  sqlflow/connectors/new_registry/source_registry.py
  sqlflow_connector_refactor_plan.md
  tests/unit/connectors/new_base/test_destination_connector.py
  tests/unit/connectors/new_base/test_source_connector.py
  tests/unit/connectors/new_registry/test_destination_registry.py
  tests/unit/connectors/new_registry/test_source_registry.py
Due: flake8-critical, pytest-unit

fix: rename Parquet demo pipeline files to use .sf extension
  examples/parquet_demo/pipelines/analyze_sales.sf
  examples/parquet_demo/pipelines/process_monthly_data.sf
Due: none

docs(connectors): Align all connector SOURCE/DESTINATION.md with source code
  docs/reference/profiles.md
  sqlflow/connectors/csv/DESTINATION.md
  sqlflow/connectors/csv/SOURCE.md
  sqlflow/connectors/google_sheets/DESTINATION.md
  sqlflow/connectors/google_sheets/SOURCE.md
  sqlflow/connectors/in_memory/DESTINATION.md
  sqlflow/connectors/in_memory/README.md
  sqlflow/connectors/in_memory/SOURCE.md
  sqlflow/connectors/parquet/DESTINATION.md
  sqlflow/connectors/parquet/SOURCE.md
  sqlflow/connectors/postgres/DESTINATION.md
  sqlflow/connectors/postgres/SOURCE.md
  sqlflow/connectors/rest/SOURCE.md
  sqlflow/connectors/s3/DESTINATION.md
  sqlflow/connectors/s3/README.md
  sqlflow/connectors/s3/SOURCE.md
  sqlflow/connectors/shopify/DESTINATION.md
  sqlflow/connectors/shopify/SOURCE.md
  sqlflow_connector_refactor_plan.md
Due: none

feat(dependencies): Add SQLAlchemy as a dependency for PostgreSQL connector - Updated pyproject.toml to include SQLAlchemy version 2.0.0 or higher, enhancing database interaction capabilities.
  pyproject.toml
Due: none

feat: implement ProfileManager with caching and validation (Phase 1, Task 1.1)
  sqlflow/core/profiles.py
  tests/unit/core/test_profiles.py
Due: flake8-critical, pytest-unit

feat: implement ConfigurationResolver with priority-based merging (Phase 1, Task 1.2)
  sqlflow/core/config_resolver.py
  tests/unit/core/test_config_resolver.py
Due: flake8-critical, pytest-unit

feat: optimize DataChunk for zero-copy, memory efficiency, and vectorized operations; add tests; meets DOD for Phase 1, Task 1.1 of connector performance optimization plan
  .pre-commit-config.yaml
  sqlflow/connectors/data_chunk.py
  tests/unit/connectors/test_data_chunk.py
Due: flake8-critical, pytest-unit

feat: Complete Task 2.3 - Optimize File-based Destination Connectors with buffer pooling, adaptive write strategies, and performance optimizations
  sqlflow/connectors/csv/destination.py
  sqlflow/connectors/parquet/destination.py
  sqlflow/connectors/s3/destination.py
  tests/unit/connectors/csv/test_csv_destination.py
Due: flake8-critical, pytest-unit

feat: optimize Google Sheets & Shopify connectors with batching, caching, and parallel processing
  sqlflow/connectors/google_sheets/source.py
  sqlflow/connectors/shopify/source.py
  sqlflow_connector_performance_optimization_plan.md
Due: flake8-critical, pytest-unit

feat: implement zero-copy optimizations in DataChunk core with enhanced caching and vectorized operations
  sqlflow/connectors/data_chunk.py
  sqlflow_connector_performance_optimization_plan.md
  tests/unit/connectors/test_data_chunk.py
Due: flake8-critical, pytest-unit

feat: implement profile variable substitution with comprehensive tests
  sqlflow/core/config_resolver.py
  sqlflow/core/profiles.py
  tests/integration/test_profile_to_engine_e2e.py
  tests/unit/core/test_config_resolver.py
  tests/unit/core/test_profile_variable_substitution.py
  tests/unit/core/test_profiles.py
Due: flake8-critical, pytest-unit

refactor: fix code smells based on Zen of Python principles
  sqlflow/core/config_resolver.py
  sqlflow/core/profiles.py
  tests/integration/test_profile_to_engine_e2e.py
  tests/unit/core/test_profile_variable_substitution.py
Due: flake8-critical, pytest-unit

feat: Phase 1, Task 1.1 - Create New VariableManager (ADDITIVE ONLY) - Unified variable substitution system with backward compatibility, 28 comprehensive tests, all existing tests pass
  VARIABLE_SUBSTITUTION_REFACTOR_PLAN.md
  sqlflow/core/variables/__init__.py
  sqlflow/core/variables/legacy.py
  sqlflow/core/variables/manager.py
  tests/unit/core/variables/__init__.py
  tests/unit/core/variables/test_variable_manager.py
Due: flake8-critical, pytest-unit

feat: Phase 1, Task 1.2 - Create Simplified Validator (ADDITIVE ONLY) - Comprehensive VariableValidator with 25 tests, backward compatibility proven, all existing tests pass
  sqlflow/core/variables/__init__.py
  sqlflow/core/variables/validator.py
  tests/unit/core/variables/test_variable_validator.py
Due: flake8-critical, pytest-unit

Phase 3 Task 3.1: Enable New System by Default - Complete
  sqlflow/cli/variable_handler.py
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/executors/local_executor.py
  sqlflow/core/planner/errors.py
  sqlflow/core/planner/factory.py
  sqlflow/core/planner/interfaces.py
  tests/integration/pipeline/test_complete_pipeline_flow.py
  tests/integration/test_gradual_migration.py
  tests/integration/test_new_system_default.py
  tests/unit/cli/test_variable_handler.py
  tests/unit/core/engines/test_duckdb_engine.py
  tests/unit/core/planner/test_dependency_injection.py
  tests/unit/core/planner/test_standardized_errors.py
Due: flake8-critical, pytest-unit

Phase 3 Task 3.2: Create Usage Guidelines - Complete
  docs/developer-guides/variable-substitution-guide.md
  examples/variable_substitution/README.md
  examples/variable_substitution/basic_substitution.py
  examples/variable_substitution/priority_resolution.py
  examples/variable_substitution/run_examples.sh
Due: flake8-critical

COMPLETE Task 2.2: Fixed performance test, removed 8 redundant unit tests, enhanced quote context detection, fixed SQL expression handling - All tests passing
  VARIABLE_SUBSTITUTION_REFACTOR_PLAN.md
  VARIABLE_SUBSTITUTION_REFACTOR_TECHNICAL_DESIGN.md
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/evaluator.py
  sqlflow/core/sql_generator.py
  sqlflow/core/variables/parser.py
  tests/integration/test_end_to_end_variable_system.py
  tests/integration/test_variable_parsing_consistency.py
  tests/unit/core/engines/test_duckdb_engine.py
  tests/unit/core/test_sql_generator.py
  tests/unit/core/variables/test_variable_manager.py
Due: flake8-critical, pytest-unit

docs: implement Phase 3 of variable substitution refactor - Architecture documentation and migration guide with zero breaking changes
  docs/developer-guides/variable-substitution-architecture.md
  docs/migration/variable-parsing-migration.md
Due: none

docs: finalize Phase 3 implementation - add cross-references between documentation files
  docs/developer-guides/variable-substitution-guide.md
Due: none

Phase 1 Task 1.1: Create Unified Parser - Single source of truth for variable parsing
  ARCHITECTURAL_CLEANUP_PLAN.md
  sqlflow/core/variables/unified_parser.py
  tests/unit/core/variables/test_unified_parser.py
Due: flake8-critical, pytest-unit

Phase 1 Task 1.2: Create Context-Specific Formatters
  sqlflow/core/variables/formatters.py
  tests/unit/core/variables/test_formatters.py
Due: flake8-critical, pytest-unit

Phase 2: Complete Component Integration & Legacy Cleanup - Fixed AST formatter for numeric values, removed duplicate patterns, simplified complex method, all tests passing
  sqlflow/cli/variable_handler.py
  sqlflow/core/engines/duckdb/constants.py
  sqlflow/core/engines/duckdb/engine.py
  sqlflow/core/evaluator.py
  sqlflow/core/sql_generator.py
  sqlflow/core/variables/manager.py
  sqlflow/core/variables/substitution_engine.py
  sqlflow/core/variables/unified_parser.py
  sqlflow/core/variables/validator.py
  sqlflow/parser/lexer.py
  tests/unit/core/variables/test_substitution_engine.py
Due: flake8-critical, pytest-unit

Path conditions:
  flake8-critical: any of: \.py$
  pytest-unit: any of: ^(tests/unit/.*\.py|sqlflow/.*\.py)$ and \.py$
